
body {
  background-color: darkblue;
  color: white;
  margin: 20px;
}
ul {
  align-items: center;
  padding: 5px;
}
​
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;

 grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 100px 300px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  div {
    display: flex;
    flex-direction: row-reverse;
  }

  div.a {
    width: auto;
    border: 1px solid black;
  }
  
  div.b {
    width: 150px;
    border: 1px solid black;
  }
  
  div.c {
    width: 100%;
    border: 1px solid black;
  }
  .grid-container {
    display: grid;
    grid-template-areas: "My Work";
  }
  .grid-container {
    display: grid;
    grid-template-rows: 100px 300px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  #CategoryGrid {
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      
  }